<!-- IDE -->
<div class="container-fluid">
  <!-- header -->
  <div class="row h10vh w100vw">
    <app-actions-nav
      (tabEmiter)="addTab($event)"
      (voidEmitter)="execVoidAction($event)"
    ></app-actions-nav>
  </div>
  <!-- body -->
  <div class="row h90vh w100vw">
    <!-- aside -->
    <div class="col-sm-2 w25pctn">
      <app-aside-files
        [fileNames]="tabFiles"
        [activeFile]="activeFile"
        (fileToEdit)="switchTab($event)"
      ></app-aside-files>
    </div>
    <!-- code sectjion -->
    <div class="col-lg-10 w75pctn">
      <div class="row h75pctn" *ngIf="this.tabFiles.length > 0">
        <app-files-edit
          [activeTab]="tabFiles[this.activeFile]"
        ></app-files-edit>
      </div>
      <div class="row h25pctn">
        <app-console-log></app-console-log>
      </div>
    </div>
  </div>
  <!-- report section -->
  <div>
    <router-outlet> </router-outlet>
  </div>
</div>
