textarea {
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 0px;
  border-color: #ccc;
  width: 83vw;
  white-space: nowrap;
  resize: none;
  /* tab-size: 5; */
}
